* {
    font-family: 'Pacifico', cursive;
}

.date {
    display: flex;
    justify-content: space-between;
    background-color: rgb(167, 184, 148);
}

.headers article {
    display: none;
}


.selected, .selected + article {
    color: red;
    display: flex;
}


